@page
@model PaymentMethodModel
@{
    ViewData["Title"] = "PaymentMethod";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Checkout - Payment method</li>
                        </ol>
                    </nav>
                </div>
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <h1>Checkout - Payment method</h1>
                        <div class="nav flex-column flex-sm-row nav-pills">
                            <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker"></i>Address</a>
                            <a href="checkout2.html" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck"></i>Delivery Method</a>
                            <a href="checkout3.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-money"></i>Payment Method</a>
                            <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye"></i>Order Review</a>
                        </div>
                        <div class="content py-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box payment-method">
                                        <form action="@Model.PayPalConfig.PostUrl" method="post">

                                            <input type="hidden" name="upload" value="1" />
                                            <input type="hidden" name="return" value="@Model.PayPalConfig.ReturnUrl" />
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="business" value="@Model.PayPalConfig.Business" />
                                            <input type="hidden" name="currency_code" value="USD" />
                                            @{var index = 1; }
                                            @foreach (var i in Model.CartItems)
                                            {
                                                <input type="hidden" name="item_number_@index" value="@i.Product.Id" />
                                                <input type="hidden" name="item_name_@index" value="@i.Product.ProductName" />
                                                <input type="hidden" name="amount_@index" value="@i.Product.UnitPrice" />
                                                <input type="hidden" name="quantity_@index" value="@i.Quantity" />
                                                index++;
                                            }
                                            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box payment-method">
                                        <a asp-page="/Cart/OrderReview" class="btn btn-primary">Cash</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer d-flex justify-content-between">
                            <a asp-page="/Cart/DeliveryMethod" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Shipping Method</a>
                            @*<button type="submit" class="btn btn-primary">Continue to Order Review<i class="fa fa-chevron-right"></i></button>*@
                        </div>
                    </div>
                </div>
                @(await Component.InvokeAsync("OrderSummary"))
            </div>
        </div>
    </div>
</div>

