@page
@model ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
    double total = 0;
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="../Index">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                        </ol>
                    </nav>
                </div>
                <div id="basket" class="col-lg-9">
                    <div class="box">
                        <form method="post">
                            <h1>Shopping cart</h1>
                            @if (Model.Items != null)
                            {
                                <p class="text-muted">You currently have @Model.Items.Sum(i => i.Quantity) item(s) in your cart.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Quantity</th>
                                                <th>Unit price</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model.Items)
                                            {
                                                total += i.Product.UnitPrice * i.Quantity;
                                                <tr>
                                                    <td><img src="~/img/@i.Product.ProductDetails.FirstOrDefault().ProductImage"></td>
                                                    <td><a asp-page="/Product/Detail" asp-route-id="@i.Product.Id">@i.Product.ProductName</a></td>
                                                    <td>
                                                        <input asp-for="Quantity" type="number" min="1" value="@i.Quantity" class="form-control" style="width: 70px">
                                                    </td>
                                                    <td>$@i.Product.UnitPrice</td>
                                                    <td>$@(i.Product.UnitPrice * i.Quantity)</td>
                                                    <td><a asp-page="./ShoppingCart" asp-route-id="@i.Product.Id" asp-page-handler="Remove"><i class="fa fa-trash-o"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th colspan="2">$@total</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p class="text-muted">You don't have item in your cart.</p>
                                <p class="text-muted">Continue shopping to add product.</p>
                            }
                            <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                                <div class="left"><a asp-page="../Index" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>
                                @if (Model.Items != null)
                                {
                                    <div class="right">
                                        <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Update cart</button>
                                        <a class="btn btn-primary" asp-page="/Cart/Address">Proceed to checkout <i class="fa fa-chevron-right"></i></a>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>
                    @if (Model.Items != null)
                    {
                        <div class="row same-height-row">
                            <div class="col-lg-3 col-md-6">
                                <div class="box same-height">
                                    <h3>You may also like these products</h3>
                                </div>
                            </div>
                            @foreach (var i in Model.NewestProducts)
                            {
                                <div class="col-lg-3 col-md-6">
                                    <div class="product same-height">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front"><a asp-page="/Product/Detail" asp-route-id="@i.Id"><img src="~/img/@i.ProductDetails.ElementAtOrDefault(0).ProductImage" alt="" class="img-fluid"></a></div>
                                                <div class="back"><a asp-page="/Product/Detail" asp-route-id="@i.Id"><img src="~/img/@i.ProductDetails.ElementAtOrDefault(1).ProductImage" alt="" class="img-fluid"></a></div>
                                            </div>
                                        </div>
                                        <a asp-page="/Product/Detail" asp-route-id="@i.Id" class="invisible"><img src="~/img/@i.ProductDetails.ElementAtOrDefault(0).ProductImage" alt="" class="img-fluid"></a>
                                        <div class="text">
                                            <h3>@i.ProductName</h3>
                                            <p class="price">$@i.UnitPrice</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                @if (Model.Items != null)
                {
                    @(await Component.InvokeAsync("OrderSummary"))
                }
                </div>                
        </div>
    </div>
</div>

